/* Body */

body {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1, .btn {
  height: 38px;
  background: #e8491d;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 90px;
  color: #ffffff;
}

.btn {
  position: relative;
  left: 125px;
}

.button_1:hover, .btn:hover {
  color: #cccccc;
  font-weight: normal;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */

header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #logo {
  float: left;
}

header #logo h1 {
  margin-top: 9px;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #e8491d;
}

header a:hover {
  color: #cccccc;
}

/* Showcase */

#showcase {
  min-height: 400px;
  background: url(./Gallery/beach.jpg) no-repeat 0px -1242px;
  text-align: center;
  color: #ffffff;
}

#showcase h2 {
  margin-top: 180px;
  font-size: 55px;
  margin-bottom: 40px;
  font-family: 'Crimson Text', serif;
}

/* Newsletter */

#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1 {
  float: left;
  margin-left: 50px;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 5.7px;
  height: 25px;
  width: 250px;
}

/* Boxes */

#boxes {
  margin-top: 50px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 110px;
}

/* Sidebar */

aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 25px;
}

aside#questions {
  float: right;
  width: 25%;
  margin-top: 25px;
}

/* Article */

article#main-col {
  float: left;
  width: 65%;
  margin-top: 24px;
}

article#about {
  max-width: 500px;
  margin: auto;
  width: 100%;
  margin-top: 90px;
}

.contact-info {
  padding-left: 120px;
}

.widget {
  position: relative;
  top: 12.9px;
}

/* FAQ */

#faq-title {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 55px;
  text-decoration: underline;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.6s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

button.accordion:after {
    content: '\2199';
    font-size: 11px;
    color: #777;
    float: right;
    margin-left: 0px;
    margin-top: -9px;
}

button.accordion.active:after {
    content: "\2b10";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

#faq-list li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

#faq-question {
  resize: none;
  overflow: hidden;
}

/* Gallery */

.images {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container2 {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: #c1c1c1;
}

.container2:hover .overlay {
  opacity: .6;
}

.overlaytext {
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  }
}

/* Media Queries */

@media(max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
  }

  #newsletter button, .message button {
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"], .message input, .message textarea {
    width: 100%;
    margin-bottom: 5px;
  }

  aside#sidebar {
    width: 100%;
    display: block;
  }

}
